{
  "openapi": "3.0.0",
  "info": {
    "title": "LeadMagic API",
    "description": "API for data enrichment",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.leadmagic.io"
    }
  ],
  "paths": {
    "/credits": {
      "post": {
        "summary": "Check credits",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "number",
                      "description": "The number of credits",
                      "example": 5000.9
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/email-validate": {
      "post": {
        "summary": "Email validation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address to validate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "A message indicating the result",
                      "example": "Valid email found"
                    },
                    "email": {
                      "type": "string",
                      "description": "The validated email address",
                      "example": "john.doe@example.com"
                    },
                    "status": {
                      "type": "string",
                      "description": "The validation status",
                      "example": "valid"
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "description": "Number of credits consumed for the validation",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/email-finder": {
      "post": {
        "summary": "Email finder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "format": "text",
                    "description": "First name",
                    "example": "Jesse"
                  },
                  "last_name": {
                    "type": "string",
                    "format": "text",
                    "description": "Last name",
                    "example": "Oullette"
                  },
                  "domain": {
                    "type": "string",
                    "format": "text",
                    "description": "Domain",
                    "example": "leadmagic.io"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid_email": {
                      "type": "string",
                      "description": "The email address of the person",
                      "example": "jesse@leadmagic.io"
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "description": "Number of credits consumed",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mobile-finder": {
      "post": {
        "summary": "Mobile finder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_url": {
                    "type": "string",
                    "format": "text",
                    "description": "User's online profile",
                    "example": "https://www.linkedin.com/in/jesseoue"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid_email": {
                      "type": "string",
                      "description": "The email address of the person",
                      "example": "jesse@leadmagic.io"
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "description": "Number of credits consumed",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The email address of the person",
                      "example": "An error occurred."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile-search": {
      "post": {
        "summary": "Search profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_url": {
                    "type": "string",
                    "format": "string",
                    "description": "Profile URL (with url or public_identifier)",
                    "example": "https://www.linkedin.com/in/jesseoue"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/company-search": {
      "post": {
        "summary": "Search company",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_url": {
                    "type": "string",
                    "format": "text",
                    "description": "User's online profile",
                    "example": "https://www.linkedin.com/in/jesseoue"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile_url": {
                      "type": "string",
                      "format": "string",
                      "description": "Business Company URL (with url or public_identifier)",
                      "example": "https://www.linkedin.com/company/leadmagichq"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
